{% extends 'index.jinja' %}

{% block content%}

    <div class="container">
        
        <h3>Error</h3>

        <p>¡Algo sucedió inesperadamente</p>

        <br>

        <a href="{{ '/home' }}">Volver al listado</a>

    </div>

{% endblock %}