{% extends 'index.jinja'%}

{% block content %}

    <div class='container'>
    
        <h3>Lista de productos</h3>

        <div class="form-group mb-2 col col-lg-6">
        
            <table class="center">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Stock Actual</th>
                        <th>Proveedor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in productos %}
                    <tr>
                        <td>{{ producto.id }}</td>
                        <td>{{ producto.nombre }}</td>
                        <td>{{ producto.precio }}</td>
                        <td>{{ producto.stock_actual }}</td>
                        <td>{{ producto.proveedor }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>

            <a href="{{ '/crear_producto' }}" class="button">Crear un producto</a>

            <br>
            <br>

            <a href="{{ '/home' }}" class="button">Inicio</a>

        </div>
    </div>

{% endblock %}